''' Este arquivo de configuração é um arquivo python normal
    http://flask.pocoo.org/docs/0.12/config/ '''
# Secret key Info disponível em https://www.google.com/recaptcha/admin#list
RECAPTCHA_SECRET_KEY = ''
# Endpoint REST com a URL para postar nos formulários de contato
DRUPAL_CONTACT_MESSAGE_URL = ''
# ID do formulário de contato do Drupal, disponível em /admin/structure/contact
DRUPAL_CONTACT_FORM_ID = ''
# Credenciais do usuário autorizado a usar o formulário de contato, autenticação
# via HTTP Basic Auth
DRUPAL_AUTH_USER = ''
DRUPAL_AUTH_PASSWORD = ''
