RECAPTCHA_SECRET_KEY = "<YOUR RECAPCTHA SITE KEY>"
DRUPAL_CONTACT_MESSAGE_URL = "<DRUPAL CONTACT MESSAGE ENTITY REST ENDPOINT>"
DRUPAL_CONTACT_FORM_ID = "<DRUPAL CONTACT FORM ID>"
DRUPAL_AUTH_PASSWORD = '<DRUPAL USER>'
DRUPAL_AUTH_USER = '<DRUPAL PASSWORD>'