recaptcha_site_key = "<YOUR RECAPCTHA SITE KEY>"
drupal_contact_message_url = "<DRUPAL CONTACT MESSAGE ENTITY REST ENDPOINT>"
drupal_contact_form_id = "<DRUPAL CONTACT FORM ID>"
drupal_auth_password = '<DRUPAL USER>'
drupal_auth_user = '<DRUPAL PASSWORD>'